In [1]:
import pandas as pd
import numpy as np
import gensim.models
from gensim.corpora import Dictionary

In [2]:
movies=pd.read_csv(r'./ml-latest-small/movies.csv')
data=pd.read_csv(r'./ml-latest-small/ratings.csv')

In [61]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
data.shape

(100836, 4)

In [6]:
# 过滤到评分低于3.5分以下的
data=data[data.rating>=3.5]
data.reset_index(drop=True,inplace=True)

In [7]:
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
data.shape

(61716, 4)

In [9]:
data=data.sort_values(['userId','timestamp'])

In [10]:
data.reset_index(drop=True,inplace=True)

In [11]:
data.shape

(61716, 4)

In [12]:
data.head()

   userId  movieId  rating  timestamp
0       1      804     4.0  964980499
1       1     1210     5.0  964980499
2       1     2018     5.0  964980523
3       1     2628     4.0  964980523
4       1     2826     4.0  964980523

In [13]:
data['movieId']=data['movieId'].apply(str)
mvlist=data.groupby('userId')['movieId'].apply(list)

In [14]:
mvlist

userId
1      [804, 1210, 2018, 2628, 2826, 3578, 3617, 3744...
2      [79132, 131724, 115713, 99114, 112552, 3578, 9...
3      [1275, 3703, 849, 2288, 6835, 7991, 5746, 5181...
4      [902, 2351, 162, 538, 368, 1283, 2921, 2843, 2...
5      [590, 296, 457, 588, 595, 110, 34, 50, 527, 1,...
                             ...
606    [914, 2289, 2915, 1244, 1299, 7147, 1093, 296,...
607    [695, 858, 110, 2028, 457, 1036, 1291, 2194, 2...
608    [2502, 1396, 2353, 1320, 1673, 4901, 6710, 687...
609    [296, 590, 457, 356, 318, 10, 253, 731, 1150, ...
610    [2959, 1573, 95, 3265, 1218, 464, 61026, 68486...
Name: movieId, Length: 609, dtype: object

In [15]:
corpus=list(mvlist.values)

In [16]:
from gensim.corpora import Dictionary

In [17]:
dct = Dictionary(corpus)

In [18]:
len(dct)

7363

In [20]:
model = gensim.models.Word2Vec(sentences=corpus,min_count=1)

In [38]:
print(len(model.wv.index2word))

7363

In [36]:
for i in model.wv.index2word:
    print(i)
    break

318

In [41]:
wordvec=model.wv

In [23]:
m_s=model.most_similar('804')

<ipython-input-23-ace2816a6b09>:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  m_s=model.most_similar('804')

In [31]:
print('用户评论电影：',movies[movies.movieId==int('804')].values)
for i in m_s:
    print(movies[movies.movieId==int(i[0])].values)
    break

用户评论电影： [[804 "She's the One (1996)" 'Comedy|Romance']]
[[3869 'Naked Gun 2 1/2: The Smell of Fear, The (1991)' 'Comedy']]

In [59]:

testmovies=movies.head(5)

In [60]:
testmovies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy